.quadrado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}
/*body{
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 200px 200px;
    background-repeat: repeat;
                        
}*/
#q1{
    background-color: aqua;
}
#q2{
    background-image: linear-gradient( to bottom, yellow, red );
}
#q3{
    background-image: url(../imagem/pattern003.png);
}
.bloco{
    background-image: url(../imagem/wallpaper003.jpg);
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
#k1{
    background-position: left top;
}
#k2{
    background-position: left center;
}
#k3{
    background-position: right bottom ;
}
#k4{
    background-position: center center ;
}